<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shouheng.libraries">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity" />
        <activity android:name=".eventbus.EventBusActivity1" />
        <activity android:name=".eventbus.EventBusActivity2" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".rxjava.RxBusActivity" />
        <activity android:name=".ClipPictureActivity" />
        <activity android:name=".TimberActivity" />
        <activity android:name=".MyKnifeActivity"/>
        <activity android:name=".FingerprintIdentifyActivity"/>
        <activity android:name=".workmanager.WorkManagerActivity"/>
        <activity android:name=".serial.SerializeActivity"/>
        <activity android:name=".handler.HandlerActivity"/>
        <service android:name=".handler.FileRecognizeTask"/>
    </application>

</manifest>